:root {
  --primary-color: #0a2640;
  --secondary-color: #69e6a6;
  --text-white: #fff;
  --text-black: #000;
}
* {
  font-family: "Open Sans", sans-serif;
}
*:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
header {
  background-color: var(--primary-color);
  color: var(--text-white);
}
.bg-primary-my {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: white;
}
.bg-primary-my:hover{
  border: 2px solid var(--primary-color);
}
.bg-secondary-my {
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  color: var(--text-black);
}
.bg-secondary-my:hover {
  border: 3px solid white;
}
.fs-45 {
  font-size: 45px;
}
.fs-20 {
  font-size: 20px;
}
/* Accoreding over write */
.accordion-button::after{
 background-image: url('../assets/down-icon.png') !important;
  
}